.minimized-palette-gallery
  display: inline-block
  position: relative
  width: auto
  height: 40svh
  overflow-y: scroll

.minimized-palette-gallery::-webkit-scrollbar
  width: 0  /* Remove scrollbar space */
  background: transparent  /* Optional: just make scrollbar invisible */

/* Optional: show position indicator in red */
.minimized-palette-gallery::-webkit-scrollbar-thumb
  background: #FF0000


.minimized-palette-gallery-scroll-wrapper
  display: flex
  width: 100%
  justify-content: space-evenly

.minimized-palette-gallery-scroll-inner
  display: inline-flex
  width: 100%
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-evenly
  padding: 1svmin 5svmin

.minimized-palette-gallery-overlay
  display: inline-block
  position: absolute
  width: 100%
  height: 40svh
  left: 0
  box-shadow: inset 0 2svh .25svh -.5svh #FFFFFF, inset 0px -2svh .25svh -.5svh #FFFFFF
  pointer-events: none